body{
    margin: 0px;
    padding: 0px;
   
}

.font_nav{
    font-family: Arial ,sans-serif;
}

@font-face {
    font-family: font_bold;
    src: url(../fonts/Lora/static/Lora-Bold.ttf);
}

.font_all{
    font-family: font_bold,Arial , sans-serif;
}